# Pandas Task

1) Load the dataset into a pandas DataFrame and display the first 5 rows.

In [ ]:
# Load the dataset
import pandas as pd
df = pd.read_csv('/content/StudentsPerformance.csv')

In [5]:
# Display the first 5 rows
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

2) How many students are there in the dataset?

In [6]:
# Count the number of rows
len(df)

1000

3) What are the unique values in the 'gender' column?

In [7]:
# Get unique values in the 'gender' column
df['gender'].unique()

array(['female', 'male'], dtype=object)

4) What is the average score in math among female students?

In [8]:
# Calculate the average math score among female students
df[df['gender'] == 'female']['math score'].mean()

63.633204633204635

5) What is the maximum score in reading among male students?

In [9]:
# Find the maximum reading score among male students
df[df['gender'] == 'male']['reading score'].max()

100

6) Create a new column 'total_score' which sums up the scores of math, reading, and writing for each student.

In [10]:
# Create a new column 'total_score'
df['total_score'] = df['math score'] + df['reading score'] + df['writing score']

7) Who scored the highest total marks and what is the score?

In [11]:
# Find the student with the highest total score
df[df['total_score'] == df['total_score'].max()]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total_score
458,female,group E,bachelor's degree,standard,none,100,100,100,300
916,male,group E,bachelor's degree,standard,completed,100,100,100,300
962,female,group E,associate's degree,standard,none,100,100,100,300

8) Calculate the mean, median, and standard deviation of scores in writing.

In [12]:
# Calculate mean, median, and standard deviation of writing scores
df['writing score'].describe()

count    1000.000000
mean       68.054000
std        15.195657
min        10.000000
25%        57.750000
50%        69.000000
75%        79.000000
max       100.000000
Name: writing score, dtype: float64

9) How many students have scored above 90 in all subjects?

In [13]:
# Count the number of students who scored above 90 in all subjects
df[(df['math score'] > 90) & (df['reading score'] > 90) & (df['writing score'] > 90)].shape[0]

23

10)Create a new column 'pass_status' which contains 'Pass' if the student's total score is greater than or equal to 150, otherwise 'Fail'.

In [14]:
# Create a new column 'pass_status'
df['pass_status'] = df['total_score'].apply(lambda x: 'Pass' if x >= 150 else 'Fail')

11) How many null values are there in each column of the dataset?

In [15]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
total_score                    0
pass_status                    0
dtype: int64

# Dataset

https://www.kaggle.com/datasets/spscientist/students-performance-in-exams